html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #15242b;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
section {
  width: 100%;
  height: 100vh;
  min-height: calc(6 * (100vw / 16));
  text-align: center;
  position: relative;
  display: inline-block;
  animation-name: fade-in;
  animation-duration: 1s;
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  border-color: #c42f59;
}
section > .intro-container > h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  font-weight: 600;
  margin-bottom: 5vw;
}
.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('https://raw.githubusercontent.com/ParanormalVibe/paranormalvibe.github.io/master/bg.jpg');
  width: 100%;
  height: 100vh;
  min-height: calc(6 * (100vw / 16));
  z-index: -1;
  filter: blur(5px) brightness(0.85);
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-container {
  position: relative;
  animation: fade-in 1s, climb-in 1s;
}
.bg-fill {
  background-color: black;
  opacity: 0.43;
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 20vw;
  padding-right: 59vw;
  display: block;
  filter: blur(50px);
}
.social-media-container > * {
  margin: 1vw;
}
.fa-github {
  color: white;
  font-size: 3vw;
}
.fa-reddit {
  color: #FF4500;
  font-size: 3vw;
}
.nav-container {
  font-size: 2vw;
  width: 100%;
}
.nav-container > a {
  color: white;
}
.top-nav {
  position: absolute;
  top: 0px;
  padding-top: 2vw;
  animation-name: bounce;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.bottom-nav {
  position: absolute;
  bottom: 0px;
  padding-bottom: 2vw;
  animation-name: bounce;
  animation-direction: alternate-reverse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.project-item-container {
  text-align: justify;
  margin-top: 15vw;
  padding-left: 25vw;
  padding-right: 25vw;
}
.landing-page > .intro-container > p {
  font-size: 2vw;
  padding-left: 20vw;
  padding-right: 20vw;
}
.nav-container > p {
  font-weight: 700;
}
.project-item-container > .project-text > h2 {
  color: white;
  font-family: Raleway;
  font-weight: 600;
  font-size: 3vw;
}
.project-item-container > p {

}
.project-item-container > img {
  display: block;
  margin-left: 1.5vw;
  float: right;
}
.project-item-container > .project-text > .imgcontainer > img {
  display: none;
}